<style>
  .foot{
    background-color: rgb(76, 207, 230);
    margin-top: auto;
  }

</style>

<footer class="foot">
    <section class="company" style="padding-top: 10px;">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Pet Adoption
            </h6>
            <p>
              We Are Building A Strong, Compassionate Animal Welfare Network In Nepal.
            </p>
          </div>
          <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-3">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Butwal, B10012, Nepal</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 07538593</p>
            <p><i class="fas fa-print me-3"></i> +977-9826486158</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="/">petadoption.com</a>
    </div>
  </footer>