<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/stylesheets/aboutus.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    {{>navbar}}
    <div style="background-color: azure; height: 100%; margin-bottom: 50px">
    <div class="heading">
        <h1>About Us</h1>
        <p>Finding forever homes for our furry friends</p>
    </div>
    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="/images/about.jpg" alt="image">
            </div>
            <div class="about-contain">
                <p>In our system, we make it easy to find loving homes for pets in need. Our mission is simple: connect homeless pets with caring individuals and families while promoting responsible pet ownership. With a user-friendly website, a diverse selection of pets, and helpful resources, we strive to facilitate seamless adoptions and provide ongoing support for pet owners. We partner with reputable shelters and rescues to ensure the well-being of every animal, and we're committed to promoting practices that benefit pets and their owners alike. Whether you're looking to adopt, volunteer, donate, or spread the word, there are countless ways to get involved and make a difference in the lives of pets through Pet Adoption System. Thank you for choosing us as your trusted partner in pet adoption.</p>
                <a href="" class="read-more">Read more</a>
            </div> 
        </section>
    </div>
   </div>
    {{>footer}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>
</html>